.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #f8f8f8;
}

.error-image {
  width: 50%;
  margin-bottom: 20px;
}

.error-title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.error-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.error-button:hover {
  background-color: #0056b3;
}
